*{
    margin: 0px;
    padding: 0px;
}
body{
  font-family: "Google Sans Flex", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
 

}
.navbar__s1{
    padding-left: 30px;
    display: flex;
    align-items: center;
  
  
}

.navbar__s1__title{
    
      font-size: 26px;
}
.navbar__img{
    height: 40px;
    width: 40px;
   

}
.navbar__s2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__s2__discription{
  font-weight: 600;

  
  font-size: 15px;
     background-color: transparent;
 width: 60px;
    height: 14px;
     padding: 14px;
      border-radius: 20px;
      
}

.navbar__s2__discription:hover{
  background-color:#E5E5E5;
}

.navbar__s3__btn{
    background-color: black;
    color: white;
    padding: 14px;
    width: 60px;
    height: 14px;
    border-radius: 16px;
      
    
       font-weight: 600;
       font-size: 16px;
       text-align: center;
}
.navbar__s3{
    display: flex;
    align-items: center;
    gap:10px;
}
.navbar__s3__btn-1{
    background-color: transparent;
 width: 60px;
    height: 14px;
   
    
     padding: 14px;
      border-radius: 20px;
      font-weight: 600;
       
}
.navbar__s3__btn-1:hover{
    background-color:#E5E5E5;
}

.main-section-title{
    
    
     font-size: 50px;
     font-weight: 800;

}

.main-section{
    display: flex;
    justify-content: center;
    padding-top: 66px;
}

.description{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    gap:20px;

}
.para-description{
    
      font-size: 20px;
      font-weight: 600;
}
.icons{
    height: 35px;
    width: 35px;
}
.description__s1{
    display: flex;
    align-items: center;
}


.icons-2{
    height: 25px;
    width: 25px;
}
.description__s1:hover{
    border-bottom: solid black 2px;
}
.search__container{
 padding: 5px;
  padding-left: 20px;
    border: solid #DFE1DF 2px;
    border-radius: 30px;
    width: 55%;
    display: flex;
    gap: 10px;
    align-items: center;
   margin-left: 300px;
   margin-top: 40px;
   background-color:  #F7F7F7;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.search__container input{
    border: none;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
 

}
.search__container input:focus{
    outline: none;

}
.search-btn{
    font-size: 15px;
    background-color:#00D352;
    padding: 10px;
    border-radius: 20px;
   border: solid #00AB42 1px ;
    width: 68px;
    height: 22px;

   text-align: center;
    font-weight: 500;
    
}
.search-btn:hover{
    background-color: #00AB42;
}
.card-conatiner__heading{
    font-size: 18px;
  


}
.card-conatiner__para{
    
       font-size: 15px;
       padding-top: 15px;
    
}
.card-container__s1{
   padding-left: 100px;
   padding-top: 70px;
}



.images{
    height: 260px;
    width: 270px;
    border-radius: 10px;
}
.image-card-container__title{
    position: absolute;
    top: 190px;
    color: white;
     
      font-size: 25px;
      padding: 15px;
   
}
.image-card-container{
display: flex;

justify-content: center;


}
.image-card-container__two{
    padding: 12px;
    position: relative;
 

}
.image-card-container__two:hover{
opacity: 0.9;
}
.card-container__s2{
       padding-left: 100px;
   padding-top: 50px;
}
.image-card-container__three{
      padding: 12px;
      position: relative;
}
.card-title{
    
     font-size: 18px;
     font-weight: 500;
}

.main-card-container{
    display: flex;
    padding: 10px;
   justify-content: center;
   align-items: center;
}
.image-card-container__three:hover{
    opacity: 0.9;
}
.icons-3{
        height: 25px;
    width: 25px;
    position:absolute;
    right: 30px;
    top: 22px;
}
.bg-card{
    background-color: #F7F7F7;
    height: 560px;
    width: 85%;
   margin-left: 100px;

   margin-top: 36px;
   display: flex;

   position: relative;

}
   .bg-card__one{
 background-color: #F7F7F7;
    height: 560px;
    width: 85%;
   margin-left: 80px;

   margin-top: 36px;
   display: flex;
   position: relative;
   }

   .bg-card-image-one{
    height: 520px;
    width: 50%;
    padding: 20px;
   }
.bg-card-image{
     height: 520px;
    width: 40%;
    padding: 20px;
  

}

.bg-card-content-one{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  position: absolute;
  left: 700px;
  top: 200px;
  
}
.bg-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  position: absolute;
  left: 550px;
  top: 200px;

       padding-left: 100px;
 
}

.bg-card-subtitle{
    padding-right:140px;
     color: #3b3a3a;

     vertical-align: top;
}
.logo{
    height:30px;
    width: 30px;
        vertical-align: top;

}

.bg-card-para{
    font-size: 16px;
    font-weight: 400;
    color: #3b3a3a;
}

.bg-card-one-para{
      font-size: 16px;
    font-weight: 400;
    color: #3b3a3a;
}
.bg-card-btn{
    padding: 18px;
    background-color: #143C24;
    color: white;
    border-radius: 25px;
    border: none;
    font-family:  "Google Sans Flex", sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.bg-card-one-btn{
      padding: 18px;
    background-color: #072c15;
    color: white;
    border-radius: 25px;
    border: none;
    font-family:  "Google Sans Flex", sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-right: 90px;
}
.bg-card-btn:hover{
   background-color: #112519;
}
.bg-card-one-btn:hover{
   background-color: #112519;
}
.card-container-four{
    font-size: 25px;
      padding-left: 100px;
   padding-top: 50px;
}

.footer{
      background-color:#F7F7F7 ;
    margin-top:40px;
    width: 100%;
}
.footer-section{
  
      display: flex;
      justify-content: space-evenly;

}
.footer-section__s1{
    padding: 30px;
    padding-left: 40px;
  
  
   
    
}
.footer-section__s1__heading{
     color: #3b3a3a;
     font-size: 16px;
}
.footer-section__s1__list{
    font-size: 14px;
    color: #3b3a3a;

}
.footer-section__s2{
    padding: 30px;
    padding-left: 40px;
     
}

.footer-section__s3{
      padding: 30px;
    padding-left: 40px;
}
.footer-section__s4{
    padding-top: 10px;
}
.footer-section__s5{
       padding: 30px;
    padding-left: 200px;
}
.footer-section__s1  p{
 margin:8px;
}
.footer-section__s2  p{
     margin:8px;
}
.footer-section__s3 p{
     margin:8px;
}
.footer-section__s5 p{
      margin:8px;
}
.Tripadvisor-icon{
     height: 38px;
    width: 38px;
    padding-left: 75px;
    
}
.footer-section__s6{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-section__s6__para{
    font-size: 11px;
       color: #3b3a3a;
       font-weight: 300;
}
.link{
     display: flex;
         flex-wrap: wrap;
}
.link-session{
    
    padding-left: 105px;

}
.link-session a{
    margin-left: 13px;
    color: #112519;
    font-weight: 600;
}
.link-session p{
     font-size: 13px;
       color: #3b3a3a;
       padding-top: 10px;
        
}
